/* RUSA RBA stylesheet */

/* rusa_rba */


.rusa-rba-form {
  font-size: .9rem;
}

.rusa-rba-form label {
  min-width: 220px;
  text-align: right;
}

.rusa-rba-form .chosen-container,
.rusa-rba-form input {
  display: inline-block;
  max-width: 280px;
}

.rusa-rba-form .button {
  max-width: 110px;
}

#edit-event-data,
#edit-event-data th,
#edit-event-data td {
  border: 1px solid #000;
}

.rusa-route-select {
  width: 480px;
}

.rusa-event-changed {
  font-weight: bold;
}

.rusa-event-past {
  background-color: #eee;
}



/* rusa_clubs */

.rusa-clubs-table .form--inline  .form-item,
.rusa-form .form--inline  .form-item {
  float: none;
}

.rusa-clubs-table .form-item label,
.rusa-form .form-item label {
  min-width: 140px;
  text-align: right;
}

.rusa-clubs-table table,
.rusa-clubs-table tr,
.rusa-clubs-table th,
.rusa-clubs-table td,
.rusa-form-table table,
.rusa-form-table tr,
.rusa-form-table th,
.rusa-form-table td{
  border: 1px solid #aaa;
}

.rusa-clubs-table .form-checkbox,
.rusa-form .form-checkbox {
  margin-left: 120px;
}


/* Style */

.rusa-table .form--inline  .form-item {
  float: none;
}

.rusa-table .form-item label {
  min-width: 140px;
  text-align: right;
}

.rusa-table table,
.rusa-table tr,
.rusa-table th,
.rusa-table td{
  border: 1px solid #aaa;
}

.rusa-table .form-checkbox {
  margin-left: 120px;
}

.rusa-table .rusa-inactive {
  background-color: #ddd;
}

.rusa-info h3,
.rusa-member h3 {
  margin-top: 1em;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.rusa-member h3 > br {
  line-height: 0;
}

.rusa-member table,
.rusa-member tr,
.rusa-member th,
.rusa-member td {
  border: 1px solid #aaa;
  margin-top: .5em;
}


.rusa-official-form label {
  min-width: 100px;
  text-align: right;
}

